/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        copy-combo {
            bindings = <&kp LC(C)>;
            key-positions = <16 15>;
            timeout-ms = <30>;
            layers = <0>;
        };

        cut-combo {
            bindings = <&kp LC(X)>;
            key-positions = <16 3>;
            timeout-ms = <30>;
            layers = <0>;
        };

        paste-combo {
            bindings = <&kp LC(V)>;
            key-positions = <16 27>;
            timeout-ms = <30>;
            layers = <0>;
        };

        enter-combo {
            bindings = <&kp ENTER>;
            key-positions = <27 28>;
            timeout-ms = <30>;
            layers = <0>;
        };

        select-all-combo {
            bindings = <&kp ENTER>;
            key-positions = <16 14>;
            timeout-ms = <30>;
            layers = <0>;
        };

        tab-combo {
            bindings = <&kp TAB>;
            key-positions = <2 3>;
            timeout-ms = <30>;
            layers = <0>;
        };

        ctrl-bksp-combo {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <19 20>;
            timeout-ms = <30>;
            layers = <0>;
        };

        ctrl-s-combo {
            bindings = <&kp LC(S)>;
            key-positions = <15 14>;
            timeout-ms = <30>;
            layers = <0>;
        };

        ctrl-z-combo {
            bindings = <&kp LC(Z)>;
            key-positions = <26 27>;
            timeout-ms = <30>;
            layers = <0>;
        };

        ctrl-shft-z {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <26 28>;
            timeout-ms = <30>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &kp F    &kp R  &kp D     &kp P  &kp V                 &kp Q    &kp J            &kp U     &kp O     &kp Y      &kp DELETE
&kp LCTRL  &lt 3 S  &kp N  &kp T     &kp C  &kp B                 &kp DOT  &kp H            &kp E     &kp A     &kp I      &kp BSPC
&kp LSHFT  &kp Z    &kp X  &kp K     &kp G  &kp W                 &kp M    &kp L            &kp SEMI  &kp APOS  &kp COMMA  &kp ESC
                           &kp LGUI  &mo 1  &mt LEFT_ALT SPACE    &kp RET  &lt 2 BACKSPACE  &kp RALT
            >;
        };

        Left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC    &kp LG(LS(S))  &kp N1  &kp N2  &kp N3  &kp DELETE    &trans    &kp K_BACK  &kp UP_ARROW  &kp K_FORWARD  &kp K_REFRESH  &kp DELETE
&kp LSHFT  &kp MINUS      &kp N4  &kp N5  &kp N6  &kp BSPC      &trans    &kp LEFT    &kp DOWN      &kp RIGHT      &kp LA(TAB)    &kp BSPC
&kp LCTRL  &kp N0         &kp N7  &kp N8  &kp N9  &kp DOT       &kp HOME  &kp PG_UP   &kp PG_DN     &kp END        &kp LA(F4)     &kp ESC
                                  &trans  &trans  &trans        &trans    &trans      &trans
            >;
        };

        Right {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1  &kp F2     &kp F3     &kp F4     &kp F5    &kp F8  &kp F9    &kp F10   &kp F11   &kp F12  &trans
&trans  &trans  &kp GRAVE  &kp EQUAL  &kp MINUS  &kp F6    &kp F7  &kp LBKT  &kp RBKT  &kp BSLH  &trans   &trans
&trans  &trans  &trans     &trans     &kp SEMI   &trans    &trans  &kp APOS  &trans    &trans    &trans   &trans
                           &trans     &trans     &trans    &trans  &trans    &trans
            >;
        };

        LPinky {
            bindings = <
&trans  &trans  &trans    &kp UP_ARROW  &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans        &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                          &trans        &trans     &trans    &trans  &trans  &trans
            >;
        };
    };
};
